<%- include('../includes/head.ejs') %>
<link href="/css/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/all.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/framework.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/auth.css">
    
</head>
<body id="top">
    <div class="Wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left"> 
          <h1 class="logoname"><a href="/">X-<span>senators</span></a></h1>
        </div>
  
        <%- include('../includes/navigation.ejs') %>
  
      </header>
    </div>
    </div>
    <main>
      <div class="bgded" class="intro route bg-image" style="background-image: url(img/login.jpg)">
        <div class="authWrapper fadeInDown">
          <div id="formContent">
            <h2 class="inactive"><a href="/logIn">Log In</a></h2>
            <h2 class="active underlineHover"><a href="/signUp">Sign Out</a></h2> 
            
            <div class="fadeIn first">
              <img src="https://www.tripuragraminbank.org/tgb/images/user-login.png" id="icon" alt="User Icon" />
            </div>
            
      <form action="/logOut" method="POST">
        <input type="submit" class="fadeIn fourth" value="로그아웃">
      </form>
                </div>
              </div>
        </div>
    </main>
    </div>
    

<%- include('../includes/end.ejs') %>