@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.email-signup-thankyou{
  font-family:sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #333;
  padding:10%;
};
  .content{
    margin: auto;  /* Magic! */
    max-width:700px;
    color:#333;
    box-shadow: 0 3px 6px rgba(0,0,0,0.55), 0 3px 6px rgba(0,0,0,0.23);
    background:url('https://www.crafta.co.il/images/paper-plane.gif') no-repeat #fff;
    background-position: right 5px bottom 5px;
    background-size: 10em;
    text-align:center;
    position: relative;
    padding:10%;
    border-radius:5px;
  };
    .left-hole,.right-hole{
      position: absolute;
      width:20px; height:20px;
      background:#333;
      border-radius:50%;
      top:15px;
    };
    .left-hole{
      left:15px;
      top:10px;
    };
    .right-hole{
      right:15px;
      top:10px;
    };
    h2,h3{
      text-align:left;
      padding:5% 5% 0% 3%;
      color:#333;
      font-weight:900;
    };

    .main-content{
        color:#333;
        text-transform:uppercase;
        margin-top:-2%;
        font-size:2.5em;
        font-weight:900;
    };