<%- include('includes/head.ejs') %>
<link href="/css/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/framework.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/all.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('img/뱃지.jpg');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <!-- ################################################################################################ -->
        <h1 class="logoname"><a href="/">X-<span>senators</span></a></h1>
        <!-- ################################################################################################ -->
      </div>

      <%- include('includes/navigation.ejs') %>

    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="breadcrumb" class="hoc clear"> 
    <h6 class="heading">Gallery</h6>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">Ipsum</a></li>
      <li><a href="#">Dolor</a></li>
    </ul>
  </div>
</div>

<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Gallery Title Goes Here</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://watch.peoplepower21.org/files/attach/images/461/928/001/11927b0e9842d513092ee494f0496f89.png" alt=""></a></li>
          </ul>
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay row4" style="background-image:url('../images/demo/backgrounds/01.png');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_quarter first">
        <h1 class="logoname"><a href="../index.html">Xan<span>pon</span></a></h1>
        <p>Consectetuer et ipsum aliquam sit amet urna fusce ante augue convallis sit amet volutpat ac posuere vel quam nunc sollicitudin tellus ultrices iaculis condimentum felis eros rutrum magna [<a href="#">&hellip;</a>]</p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Blandit augue lorem ac</h6>
        <p class="nospace btmspace-15">Est integer molestie sapien ac enim aliquam ligula maecenas.</p>
        <form action="#" method="post">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button class="btn" type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Magna nulla ultricies nulla</h6>
        <ul class="nospace linklist">
          <li><a href="#">Eu odio sit amet odio euismod</a></li>
          <li><a href="#">Iaculis vestibulum eu ipsum</a></li>
          <li><a href="#">Aliquam faucibus sed vehicula</a></li>
          <li><a href="#">Congue diam fusce cursus</a></li>
          <li><a href="#">Velit sed interdum consequat</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Id eleifend tellus erat</h6>
        <ul class="nospace clear latestimg">
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <figure id="ctdetails">
      <ul class="nospace group">
        <li class="one_third first">
          <div class="clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
        </li>
        <li class="one_third">
          <div class="clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
        </li>
        <li class="one_third">
          <div class="clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span></div>
        </li>
      </ul>
    </figure>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.backtotop.js"></script>
<script src="/js/jquery.mobilemenu.js"></script>
<%- include('includes/end.ejs') %>