<%- include('includes/head.ejs') %>
<link href="/css/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/framework.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/all.css" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">
<div class="bgded" style="background-image:url('img/뱃지.jpg');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <h1 class="logoname"><a href="/">X-<span>senators</span></a></h1>
      </div>

      <%- include('includes/navigation.ejs') %>

    </header>
  </div>
  <div id="pageintro" class="hoc clear"> 
    <article>
      <p>정치후원금 활성화를 위한 국회의원 추천시스템</p>
      <h3 class="heading">X-senators</h3>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="/userInput">국회의원 추천받기</a></li>
          <li><a class="btn inverse" href="/gallery">국회의원 살펴보기</a></li>
        </ul>
      </footer>
    </article>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <section style="border-radius: 30px 30px; border-style: solid;" id="introblocks" class="row3 inspace-30 clear">
      <div class="one_half first">
        <h6>What is X-Senators?</h6>
        <p class="heading font-x3">National Assembly Members Recommendation System for Revitalizing Political Sponsorship</p>
      </div>
      <div class="one_half">
        <ul class="nospace group">
          <li class="one_half first btmspace-30">
            <p class="heading">Background</p>
            <p>정치후원금 현황이 유권자 1인당 800원에 불과할 정도로 저조하다. 정치후원금이 저조한 이유가 나와 맞는 국회의원이 누군지 잘 모르기 때문이라고 생각했다.</p>
          </li>
          <li class="one_half btmspace-30">
            <h6 class="heading">Purpose</h6>
            <p>후원자의 관심사와 가장 유사한 국회의원을 추천해주고 그들에 대한 정보를 제공해줌으로써 '누구에게 후원금을 줘야할지?'에 대한 고민에 답을 주고자 한다.</p>
          </li>
          <li class="one_half first">
            <h6 class="heading">Methods</h6>
            <p>국회의원들이 발의하는 모든 법안들을 NLP로 학습시키면 각 국회의원을 벡터로 나타낼 수 있다. 후원자의 관심사도 유사하게 벡터로 나타낸 뒤 국회의원과 후원자의 코싸인 유사도를 계산해서 추천한다.</p>
          </li>
          <li class="one_half">
            <h6 class="heading">Expectation</h6>
            <p>정치에 대한 정보의 장벽을 낮출 수 있다. 국회의원은 임기 내 평균 900건, 많게는 4,000건의 법안을 발의한다. 이를 모두 읽어보지 않아도 간단한 키워드 입력으로 자신과 유사한 국회의원을 찾고 그들을 후원하는 정치 선순환을 만들 수 있다.</p>
          </li>
        </ul>
      </div>
    </section>
  
    <section id="services">
      <div class="sectiontitle">
        <h6 class="heading font-x2">Industrial Data Management</h6>
        <h6 class="heading font-x2">2020-2 Final Project </h6>
        <p class="nospace font-xs">made by Jung Hyun Woo</p>
      </div>
    </section>
    <div class="clear"></div>
  </main>
</div
<%- include('includes/end.ejs') %>