<%- include('includes/head.ejs') %>
<link href="/css/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/framework.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/all.css" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">
<div class="bgded" style="background-image:url('img/books2.jpeg');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <h1 class="logoname"><a href="/">X-<span>senators</span></a></h1>
      </div>

      <%- include('includes/navigation.ejs') %>

    </header>
  </div>
  <div id="pageintro" class="hoc clear"> 
    <article>
      <p>Magnis dis parturient</p>
      <h3 class="heading">Montes nascetur ridiculus</h3>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">Suspendisse</a></li>
          <li><a class="btn inverse" href="#">Venenatis</a></li>
        </ul>
      </footer>
    </article>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <section id="introblocks" class="row3 inspace-30 clear">
      <div class="one_half first">
        <h6 class="heading">Mus sodales nulla integer</h6>
        <p class="heading font-x3">Auctor diam sed non sapien in risus rhoncus egestas mauris rhoncus mi at odio in luctus turpis quis dignissim.</p>
      </div>
      <div class="one_half">
        <ul class="nospace group">
          <li class="one_half first btmspace-30">
            <h6 class="heading">Interdum</h6>
            <p>Placerat mi ipsum ornare dui id varius tortor est et urna vivamus commodo justo quis erat etiam lacus leo interdum non volutpat.</p>
          </li>
          <li class="one_half btmspace-30">
            <h6 class="heading">Ullamcorper</h6>
            <p>In sagittis vel erat donec congue pede eu lacus aliquam sodales felis nec libero mollis porttitor nulla adipiscing orci ac quam.</p>
          </li>
          <li class="one_half first">
            <h6 class="heading">Accumsan</h6>
            <p>Suspendisse elit praesent hendrerit lacus a condimentum scelerisque augue mi ultrices nunc vitae posuere orci dui quisque.</p>
          </li>
          <li class="one_half">
            <h6 class="heading">Maecenas</h6>
            <p>Tincidunt lectus vel enim aenean erat orci mollis quis gravida sed mollis a quam morbi libero sed ut erat aliquam erat volutpat.</p>
          </li>
        </ul>
      </div>
    </section>
  
    <section id="services">
      <div class="sectiontitle">
        <p class="nospace font-xs">Vivamus blandit lectus nec fringilla</p>
        <h6 class="heading font-x2">Ultricies mi eros pellentesque</h6>
      </div>
      <ul class="nospace group">
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-allergies"></i></a>
            <h6 class="heading">Odio eget blandit</h6>
            <p>Dui id tortor mauris lorem fusce libero orci placerat non tincidunt sed accumsan non mi praesent aliquet facilisis tortor donec.</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-chalkboard-teacher"></i></a>
            <h6 class="heading">Posuere accumsan sit</h6>
            <p>Mauris et turpis quisque est enim lacinia ac lobortis a viverra interdum quam aliquam nec eros quis est placerat vehicula integer.</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-parachute-box"></i></a>
            <h6 class="heading">Ac lorem rhoncus</h6>
            <p>Dapibus duis pellentesque velit et pretium dapibus sem lacus egestas sem sed pellentesque nulla turpis et enim fusce tellus.</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-fingerprint"></i></a>
            <h6 class="heading">Risus tincidunt at</h6>
            <p>Id vestibulum quis nibh suspendisse eget diam quis tortor malesuada rhoncus nulla euismod malesuada nibh integer iaculis ultricies.</p>
          </article>
        </li>
      </ul>
    </section>
    <div class="clear"></div>
  </main>
</div
<%- include('includes/end.ejs') %>