<div class="bgded overlay row4" style="background-image:url('../images/demo/backgrounds/01.png');">
    <footer id="footer" class="hoc clear"> 
      <div class="group">
        <div class="one_quarter first">
          <h1 class="logoname"><a href="/">X-<span>senators</span></a></h1>
          <p>X-senators는 후원자의 관심사에 따라 국회의원을 추천해주는 사이트입니다. 국회의원이 발의한 법안의 성격과 후원자의 관심사와 비교해 가장 유사도가 높은 국회의원 Top 8을 추천해줍니다.</p>
          <p>인공지능 알고리즘을 활용하여 국회의원이 어떤 가지는지 분석을 하였습니다(국회의원별 벡터 계산). 이를 통해 후원자와 가장 유사한 국회의원을 매칭시켜줍니다.</p>
          <ul class="faico clear">
        </div>
        
        <div class="one_quarter">
          <h6 class="heading">Related Github repositories</h6>
          <ul class="nospace linklist">
              <li><a href="https://github.com/hw79chopin/National-assembly-member-recommder">National assembly member Recommender</a></li>
              <li><a href="https://github.com/hw79chopin/National-assembly-member-Network-anaylsis">National assembly member Network Analysis</a></li>
              <li><a href="https://github.com/hw79chopin/Petr.eat-Recommender">Using Flask to send API</a></li>
              <li><a href="https://github.com/hw79chopin/MySQL-Codebook">MySQL Codebook</a></li>
            <li><a href="https://github.com/hw79chopin/Node-js">Node.js Codebook</a></li>
          </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Error report</h6>
            <p class="nospace btmspace-15">에러나 개선되면 좋은 것들을 발견하시면 연락주세요!</p>
            <form action="#" method="post">
              <fieldset>
                <input class="btmspace-15" type="text" value="" placeholder="성함">
                <input class="btmspace-15" type="text" value="" placeholder="이메일">
                <input class="btmspace-15" type="text" value="" placeholder="건의사항">
                <button class="btn" type="submit" value="submit">보내기</button>
              </fieldset>
            </form>
          </div>
        <div class="one_quarter">
          <h6 class="heading">Minions for your happiness</h6>
          <ul class="nospace clear latestimg">
            <li><img src="https://www.seabrookcrisps.com/img/minions/minions-stuart.png" alt=""></li>
            <li><img src="https://media01.gameloft.com/web_mkt/minisites/minionrush/assets/mros/img/hi-res/minion-menu.png" alt=""></li>
            <li><img src="https://png4all.com/images/uploads/minions/minions_PNG68.png" alt=""></li>
            <li><img src="https://media01.gameloft.com/web_mkt/minisites/minionrush/assets/mros/img/hi-res/prizepods-section/prizepods-minion.png" alt=""></li>
            <li><img src="https://www.seabrookcrisps.com/img/minions/minions-stuart.png" alt=""></li>
            <li><img src="https://media01.gameloft.com/web_mkt/minisites/minionrush/assets/mros/img/hi-res/minion-menu.png" alt=""></li>
            <li><img src="https://png4all.com/images/uploads/minions/minions_PNG68.png" alt=""></li>
            <li><img src="https://media01.gameloft.com/web_mkt/minisites/minionrush/assets/mros/img/hi-res/prizepods-section/prizepods-minion.png" alt=""></li>
            <li><img src="https://www.seabrookcrisps.com/img/minions/minions-stuart.png" alt=""></li>
          </ul>
        </div>
      </div>
      <figure id="ctdetails">
        <ul class="nospace group">
          <li class="one_third first">
            <div class="clear"><a href="#"><i><img src='https://i.pinimg.com/originals/84/4e/8c/844e8cd4ab26c82286238471f0e5a901.png'></i></a> <span><strong>Give me a call:</strong> +00 (123) 456 7890</span></div>
          </li>
          <li class="one_third">
            <div class="clear"><a href="#"><i><img src="https://www.pngkit.com/png/full/84-841048_envelop-email-icon-email-icon-png-red.png"></i></a> <span><strong>Send me a mail:</strong> chopin_liszt@naver.com</span></div>
          </li>
          <li class="one_third">
            <div class="clear"><a href="#"><i><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" ></i></a> <span><strong>Come visit my Github:</strong> <a href="https://github.com/hw79chopin">My Github</a></span></div>
          </li>
        </ul>
      </figure>
    </footer>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved</p>
    </div>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="../layout/scripts/jquery.min.js"></script>
  <script src="../layout/scripts/jquery.backtotop.js"></script>
  <script src="../layout/scripts/jquery.mobilemenu.js"></script>
  </body>
  </html>
</body>

</html>