<nav id="mainav" class="fl_right"> 
    <ul class="clear">
      <li class="active poor"><a href="/">메인화면 </a></li>
      <li class="poor"><a href="#">나의 국회의원은?</a></li>
      <li class="poor"><a href="/gallery">국회의원 둘러보기</a></li>
      <li class="poor"><a href="/login">로그인</a></li>
    </ul>
  </nav>